body {
  margin: 0px;
}

img {
  width: 540px;
}

p {
  color: var(--gray-2, #4F4F4F);
  font-size: 24px;
  font-family: Space Mono;
  letter-spacing: -0.84px;
}

button {
  color: #FFF;
  font-size: 14px;
  font-family: Space Mono;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 216px;
  height: 68px;
  background: var(--gray-1, #333);
  border: none;
}

footer {
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  position: fixed;
  bottom: 10px;
  left: 40px;
}

.header {
  color: #333;
  font-size: 24px;
  font-family: Inconsolata;
  font-weight: 700;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.container{
  display: flex;
  margin-top: 200px;
}

.welcome {
  padding: 40px;
  display: grid;
  justify-content: center;
}

.title {
  color: var(--gray-1, #333);
  font-size: 64px;
  font-family: Space Mono;
  font-weight: 700;
  letter-spacing: -2.24px;
}